html,body{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}
img{
  width: 100px;
  height: 100px;
}

.nav-bar{
  background-color: #ffd200;
  position: fixed;
  width: 100vh;
  height: 100px;
}

.employee-display{
  padding-top: 100px;
  background-color: #ffd100;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 800px) {
  .employee-display{
  grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .employee-display{
  grid-template-columns: 1fr;
  }
}

.employee{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto ;  
  background-color: #ffd100;
}