html,body{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

.display{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.display-employee{
  display: grid;
  padding-top: 35px;
  grid-template-columns:repeat(3,auto);
  grid-template-rows:auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #babecc,
  -10px -10px 20px #ffff;
  width: auto;
}

.employee{
  display: grid;
  grid-template-rows: auto 1fr auto ;
  box-shadow: 10px 10px 20px #babecc,
  -10px -10px 20px #ffff;
  height: auto;
  width: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

img{
  width: 100px;
  height: 100px;
}

.employee-description{
  font-size: 10px;
}

.menu{
  position:fixed;
  background-color: #31489c;
  padding: 10px;
  width: 100%;
  box-shadow: 10px 10px 20px #babecc,
  -10px -10px 20px #ffff;
}

