html,body{
  width: 100%;
  height: 100%;
}

.display{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.display-employee{
  position: relative;
  display: grid;
  grid-template-columns:repeat(3,auto);
  grid-template-rows:auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #babecc,
  -10px -10px 20px #ffff;
  width: auto;
}

.employee{
  display: grid;
  grid-template-rows: auto 1fr auto ;
  box-shadow: 10px 10px 20px #babecc,
  -10px -10px 20px #ffff;
  border: 1px solid;
  height: auto;
  width: auto;
  padding: 10px;
  margin: 10px;
}

img{
  width: 100px;
  height: 100px;
}

.employee-description{
  font-size: 10px;
}

